<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<!-- Required meta tags -->
<link rel="icon" type="image/png" href="../img/bulb.png">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Caveat&display=swap"
	rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Allan&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<link rel="stylesheet" th:href="@{/css/style.css}" />

<title>Wynik testu</title>

</head>
<body>



	<div class="container home-container-style">

		<div class="row">

			<div class="col-12 menu-col-style">
				<div sec:authorize="hasRole('ROLE_STUDENT')">
					<nav class="home-nav navbar navbar-dark bg-dark navbar-expand-lg ">
						<a class="navbar-brand home-menu-logo-style" th:href="@{/}">SYNAPSE</a><img src="img/bulb.png" />
						<button class="navbar-toggler" type="button"
							data-toggle="collapse" data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item active nav-link-style"><img
									src="img/student-sm.png" /><a class="nav-link my-link menu-style"
									th:href="@{/showStudentDetail}">STUDENT</a></li>

								<li class="nav-item active nav-link-style"><img
									src="img/teacher-sm.png" /><a class="nav-link my-link menu-style"
									th:href="@{/showMyTeachers}">MOI NAUCZYCIELE</a></li>

								<li class="nav-item active nav-link-style"><img
									src="img/test-sm.png" /><a class="nav-link my-link menu-style"
									th:href="@{/showMyTeacherCourses}">MOJE TESTY</a></li>

								<li class="nav-item active nav-link-style"><img
									src="img/score-sm.png" /><a class="nav-link my-link menu-style"
									th:href="@{/showMyCoursesResults}">MOJE WYNIKI</a></li>

								<li class="nav-item active nav-link-style"><img
									src="img/logout.png" />
									<form th:action="@{/logout}" method="POST">
										<input type="submit"
											class="nav-link my-link nav-link-style linkButton menu-style"
											value="WYLOGUJ" />
									</form></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col home-col-title">
				<img src="img/score-sm.png" />
				Wynik testu: <a th:text="${courseResultModel.courseName}"></a>
			</div>
		</div>

		<div class="row">

			<div class="col home-col">
				<table class="table table-striped table-style">
				<thead class="">
				<tr>
					<th>Typ</th>
					<th>Test</th>
					<th>Nauczyciel</th>
					<th>Wynik punktowy</th>
					<th>Wynik procentowy</th>
					<th>Ocena</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td><img data-toggle="tooltip" data-placement="top" title="Wynik testu" src="img/score-pro-sm.png" /></td>
					<td> <a th:text="${courseResultModel.courseName}"></a> </td>
					<td> <a th:text="${courseResultModel.instructorFirstName}"></a> <a th:text="${courseResultModel.instructorLastName}"></a> </td>
					<td> <a th:text="${courseResultModel.score}"></a> / <a th:text="${courseResultModel.maxScore}"></a> </td>
					<td> <a th:text="${courseResultModel.procentageResult}"></a> </td>
					<td> <a th:text="${courseResultModel.mark}"></a>
				</tr>
				</tbody>
				</table>

			</div>
		</div>

	</div>
</body>
</html>


<!--	<h1 class="display-4">-->
<!--		Test: <a th:text="${courseResultModel.courseName}"></a>-->
<!--	</h1>-->
<!--	<p class="lead">-->
<!--		Nauczyciel: <a th:text="${courseResultModel.instructorFirstName}"></a> <a th:text="${courseResultModel.instructorLastName}"></a>-->
<!--		<br>-->
<!--		Wynik punktowy: <a th:text="${courseResultModel.score}"></a> / <a th:text="${courseResultModel.maxScore}"></a>-->
<!--		<br>-->
<!--		Wynik procentowy: <a th:text="${courseResultModel.procentageResult}"></a>-->
<!--		<br>-->
<!--		Ocena: <a th:text="${courseResultModel.mark}"></a>-->

<!--	</p>-->
<!--	<hr class="my-4">-->
<!--	<p>-->
<!--		Powyżej widzisz wynik testu: <a th:text="${courseResultModel.courseName}"></a>. Jeżeli wynik jest nieprawidłowy, skontaktuj się z nauczycielem.-->
<!--		<br>-->
<!--</div>-->